.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60%;
}

.logo-title > img {
    height: 6rem;
    margin-top: -10px;
    margin-right: 20px;
}

.logo-title> span{
    font-size: 4rem;
    font-weight: bold;
}

.left > p{
    font-size: 1.2em;
    color:#bdbdbd;
    font-weight: 200; 
}